http_interactions:
- request:
    method: GET
    uri: https://resourcecode-datacharts.ifremer.fr/api/timeseries?parameter=hs&node=41&start=1994-01-01T00%3A00%3A00Z&end=1994-01-01T01%3A00%3A00Z
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=UTF-8
    body:
      string: '{"errorcode":0,"errormessage":"","query":{"downsampling":"none","samplingparameter":"none","platform":"41","parameterCode":"hs","startTimeMillis":"757382400000","endTimeMillis":"757386000000","startTimeFormat":"1994-01-01T00:00:00Z","endTimeFormat":"1994-01-01T01:00:00Z"},"result":{"dataSetSizeBeforeRegression":2,"dataSetSizeAfterRegression":2,"dataSetSize":2,"data":[[757382400000,0.124],[757386000000,0.112]]}}'
  recorded_at: 2026-01-12 11:03:16
recorded_with: VCR-vcr/2.1.0
